ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 9px;
}
li {
    float: left;
    
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: red;
    border-radius: 9px;
}
.active {
    background-color: red;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
   
  border-radius: 9px;
}   
img {
border-radius: 9px;
}
::selection {
  background: red; 
}
::-moz-selection {
  background: red; 
}
